<h1><%=@cocktail.name %></h1>

<div class="container">
  <div>
    <ul>
      <% @cocktail.doses.each do |dose| %>
        <li>
          <%= dose.ingredient.name %>
          <%= dose.description %>
          (<%= link_to 'delete', dose_path(dose), method: :delete %>)
        </li>
        <% end %>
    </ul>
  </div>

  <h3>Add New Ingredient</h3>
    <%= simple_form_for [@cocktail, @dose] do |f| %>
      <%= f.input :description %>
      <%= f.association :ingredient %>
      <%= f.submit 'Create Ingredient', class: 'btn btn-success' %>
    <% end %>
    <button class ='btn btn-primary'>
    <%= link_to "Back to All Cocktails", cocktails_path %>
    </button>
</div>
